<!DOCTYPE html>
<html lang=zh-CN>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/static/favicon.ico>
    <title>LICSLAN</title>

</head>
<body>

<div style="position:relative; width: auto;height:500px;border: 1px solid red;">
    <div style="position:absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;
    width: 300px;height: 100px;border: 1px solid gold;text-align:center;line-height:100px">
        欢迎学习go语言!
    </div>
</div>
</body>
</html>